* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --fondo-verde-oscuro: #034732;
    --verde-oscuro-2: #022c1f;
    --letra-gris-oscuro: #494949;
    --fondo-verde-amarronado: #353928;
}

nav {
    background-color: #000000;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex; 
}

nav ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
}

main {
    padding-top: 70px;
}

.main-section section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fondo-verde-oscuro); 
} 

.btn-nav-bar {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:#ffffff;
}

.nav-hotel {
    margin-left: 30px;
}

.nav-registro {
    margin-right: 30px;
}

.btn-buscar {
    margin-left: 30px;
    padding: 15px;
    font-family: "Montserrat", "sans-serif";
}

.btn-buscar-div {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    gap: 10px;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    white-space: nowrap;
    padding: 10px 300px 10px 15px;
}



/* FOOTER */

footer > *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
footer {
    width: 100%;
    background-color: var(--fondo-verde-oscuro);
}
footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
footer .grupo-1 .caja-footer figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .grupo-1 .caja-footer figure img {
    width: 250px;
}
footer .grupo-1 .caja-footer h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
footer .grupo-1 .caja-footer p {
    color: #efefef;
    margin-bottom: 10px;
}
footer .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: var(--verde-oscuro-2);
    text-align: center;
    transition: all 300ms ease;
}
footer .grupo-2 {
    background-color: var(--verde-oscuro-2);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
footer .grupo-2 small {
    font-size: 15px;
}

.logo-techin{
    background-color: #034732;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 15px;
    line-height: 0;
}

.logo-techin img{
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-buscar {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 25px;
}

.grid {
    width: 500px;
    height: 809.016994375px;
    display: grid;
    gap: 16.1803398875px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #353928;
    box-sizing: content-box;
    border-radius: 16px;
}

.div-3 {
    gap: 20px;
    display: flex;
    padding: 18px;
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 500px;
    margin-left: 0px;
}

.div-4 {
    max-width: 720px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-weight: 400;
    margin: auto 0;
}

.div-5 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #ffff;
    text-overflow: ellipsis;
    letter-spacing: 4.44px;
    font: 900 98.1px/100px "Average Sans", Helvetica, sans-serif;
}

.div-6 {
    color: #059669;
    margin-top: 16px;
    letter-spacing: 0.3141592653589793238462643px;
    font: 24px/140% "Fira Sans", sans-serif;
}

.div-7 {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #65a30d;
    margin-top: 40px;
    width: 360px;
    color: #ecfdf5;
    text-align: center;
    padding: 15px 48px;
    font: 18px/150% "Montserrat", sans-serif;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.img-1 {
    grid-area: 1 / 1 / 3 / 3;
}

.img-2 {
    grid-area: 3 / 1 / 4 / 2;
}

.img-3 {
    grid-area: 4 / 1 / 5 / 2;
}

.img-4 {
    grid-area: 3 / 2 / 5 / 3;
}



.contenedor-buscador {
    margin: 15px;
    padding: 10px;
    width: 1200px;
    height: 76px;
    display: flex;
    gap: 10px;
    background-color: var(--verde-oscuro-2);
    border-radius: 10px;
}
.subcontenedor-buscador {
    display: flex;
    padding: 15px;
    flex: 1;
    height: 100%;
    gap: 20px;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
}
.subcontenedor-buscador img {
    height: 100%;
}
.texto-buscador {
    align-self: center;
    font: 400 21px "Montserrat", "sans-serif";
    color: var(--letra-gris-oscuro)
}
.btn-buscador {
    display: flex;
    padding: 15px;
    height: 100%;
    aspect-ratio: 1;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
}
.btn-buscador img {
    height: 100%;
}

.seccion-3 {
    background-color: gray;
    background-image: url("../img/fondo-grande4.jpeg") ;
    background-size: cover;
}

.contenedor-flex {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

h1 {
    font: 500 45px "Montserrat", "sans-serif";
    text-align: center;
    padding-top: 20px;
    color: #000000;
}
h2 {
    font: 400 24px "Montserrat", "sans-serif";
}
h3 {
    font: 400 17px "Montserrat", "sans-serif";
}
h3 + h3{
    padding-top: 10px;
}

.subcontenedor-grid {
    display: grid;
    gap: 20px;
    width: 1260px;
    height: 830px;
    padding: 20px 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.destinos {
    display: flex;
    flex-direction: column;
    background-color: rgb(185, 185, 185);
    background-color: rgba(204, 204, 204, 0.80);
    
    border-radius: 10px;
    padding: 5px;
}
.destinos img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
}



/* CONTACTO */

.body {
    background-image: url("../img/fondo-grande2.jpeg");
    background-size: cover;
    backdrop-filter: blur(4px);
}

.main-contacto {
    color: #fff;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

.contenido-formulario {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 200px;
}

ul {
    list-style: none;
    padding: 0;
}

.contenedor-contacto {
    /* box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3); */
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.contenedor-contacto > * {
    padding: 2em;
}
.formulario-contacto {
    background: #222222ce;
}
.formulario-contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formulario-contacto form label {
    display: block;
}
.formulario-contacto form p {
    margin: 0;
    padding: 1em;
}
.formulario-contacto form .bloque {
    grid-column: 1 / 3;
}
.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid var(--fondo-verde-oscuro);
}
.formulario-contacto form button {
    background: var(--fondo-verde-oscuro);
    border: 0;
    padding: 1em;
    font-size: 19px;
}
.informacion-contacto {
    background: #000;
}
.informacion-contacto h4, 
.informacion-contacto ul, 
.informacion-contacto p {
    text-align: left;
    margin: 0 0 1rem 0;
}






/* SOBRE NOSOTROS */

.sobre-nosotros {
    padding: 70px 0;
    display: flex;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}
.sn-imagen{
    width: 55%;
}
.sn-contenido{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 45%;
}
.sn-contenido h2{
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.sn-contenido span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.sn-contenido p{
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 17px;
    opacity: 0.7;
    width: 100%;
    text-align: center;
    line-height: 1.7;
}
.sn-link{
    margin: 15px 0;
    border: 0.5px solid #777;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.sn-link a{
    color: #777;
    text-decoration: none;
}