nav {
    background-color: #000000;
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex; 
    gap: 0.5rem;
}

nav ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

nav ul li a {
    font-size: 1.25rem;
    font-weight: 500;
    color:#ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.logo-techin {
    padding: 0.5rem 4rem;
    line-height: 0;
}

.logo-techin img {
    height: 3rem;
}