.contact-layout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.contact-form,
.contact-text-area, 
.button-form{
    width: 34em;
}

.button-form:hover {
    background-color: #002c1e;
}

.contact-text-area{
    resize: none;
}

.contact-form .contact-input {
    width: 16.5em;
}

.img-form {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

@media (max-width: 768px) {

    .img-form {
        display: none;
    }

    .contact-form,
    .contact-text-area, 
    .button-form {
        width: 25em;
}

.contact-layout{
    justify-content: center;
}

.contact-form .contact-input {
    width: 11.5em;
}
    
}