.contact-layout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.contact-form,
.contact-text-area, 
.button-form{
    width: 34em;
}

.contact-text-area{
    resize: none;
}

.contact-form .contact-input {
    width: 16.5em;
}

.img-form {
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}