.footer {
    max-width: 59em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1.5em 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 1em;
}

.footer-logo {
    height: 4em;
}


.footer-links {
    display: flex;
    gap: 1em;
}

.footer-links ul {
    text-align: end;
    width: 9em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-links ul li {
    list-style-type: none;
}

.footer-links ul li a {
    color:#ffffff;
    text-decoration: none;
    font-size: 0.8em;
}

.footer-flex {
    display: flex;
    gap: 1.5em;
}

@media ( max-width: 768px ) {

    .footer-container {
      flex-direction: column;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul{
        text-align: center;
        margin-top: 2em;
        gap: 0;
    }

    .footer-links {
        justify-content: space-evenly;
    }

  }
