.layout {
    width: 100%;
    display: flex;
    gap: 96px;
}

/* LAYOUT FLEX */

.layout-flex {
    width: 384px;
}

.main-title {
    font-weight: 600;
    line-height: 1;
}

.subtitle {
    opacity: 0.7;
    margin-top: 24px;
    font-weight: 500;
    /* font-size: 1.6rem; */
    max-width: 95%;
}

.button-primary {
    width: 100%;
    padding: 16px;
    margin-top: 32px;
}

.form-title {
    margin-top: 60px;
    /* font-size: 1.6rem; */
    font-weight: 500;
    line-height: 1;
    max-width: 100%;
}

form {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.form-control,
.date-input,
.button-secondary,
.checkbox-label {
    padding: 16px;
}

.form-control {
    width: 384px;
}

.date-input {
    width: 184px;
}

.button-secondary {
    width: 144px;
}

.checkbox-label {
    color: var(--form-dark);
    cursor: pointer; 
}

.checkbox-input {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}




/* LAYOUT GRID */

.layout-grid {
    width: 464px;
    height: 668px;
    display: grid;
    gap: 16px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.layout-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.img-1 {
    grid-area: span 2 / span 2;
}

.img-3 {
    grid-row: span 2;
}





/* CARDS */

.card-list-title {
    font-weight: 500;
    margin-bottom: 1rem;
}

.card-list {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}