.layout {
    width: 100%;
    display: flex;
    gap: 6em;
}

/* LAYOUT FLEX */

.layout-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24em;
}

.main-title {
    line-height: 1;
}

.subtitle {
    opacity: 0.7;
    margin-top: 1.5em;
    font-weight: 500;
    max-width: 95%;
}

.button-primary {
    width: 100%;
    margin-top: 2em;
}

.form-control {
    width: 24em;
}

.date-input {
    width: 11.5em;
}

.button-secondary {
    width: 9em;
}

.checkbox-label {
    padding: 1em;
    color: var(--form-dark);
    cursor: pointer; 
}

.checkbox-input {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}




/* LAYOUT GRID */

.layout-grid {
    width: 29em;
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(4, 10em);
    grid-template-columns: repeat(2, 14em);
}

.layout-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.img-1 {
    grid-area: 1 / 1 / 3 / 3;
}

.img-2 {
    grid-area: 3 / 1 / 4 / 2;
}

.img-3 {
    grid-area: 4 / 1 / 5 / 2;
}

.img-4 {
    grid-area: 3 / 2 / 5 / 3;
}




/* CARDS */

.card-list-title {
    font-weight: 500;
    margin-bottom: 1em;
}

.card-list {
    width: 100%;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}