nav {
    z-index: 10;
    background-color: var(--dark);
    height: 3.2rem;
    padding: 0 0.8rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex; 
    gap: 0.4rem;
}

nav ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

nav ul li a {
    font-size: 1rem;
    font-weight: 500;
    color:#ffffff;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
}

.logo-techin {
    padding: 0.4rem 3.2rem;
    line-height: 0;
}

.logo-techin img {
    height: 2.4rem;
}