main {
  padding-top: 8rem;
  width: 944px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 105px;
}

footer {
  width: 944px;
  margin: 0 auto;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0;
}