@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark: #333333;
  --light: #f4f4f4;
  --form-bg: #dedede;
  --form-dark: #5b5b5b;
  --primary: #034732;
}
  
body {
  background-color: var(--light);
  font-size: 1.25rem;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
li,
label,
input,
button,
textarea {
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 4em;
  font-weight: 600;
}
h2 {
  font-size: 2em;
  font-weight: 500;
}
h3 {
  font-size: 1.5em;
  font-weight: 500;
}
h4,
p {
  font-size: 1em;
}



button {
  background-color: var(--primary);
  color: #ffffff;
  font-weight: 500;
  font-size: 1em;
  line-height: 1;
  border: none;
  border-radius: 1em;
  cursor: pointer; 
  padding: 1em;
}

input,
textarea {
  background-color: var(--form-bg);
  color: var(--form-dark);
  font-weight: 400;
  font-size: 1em;
  line-height: 1;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid var(--form-dark);
  cursor: pointer; 
}

label {
  font-weight: 400;
  font-size: 1em;
  line-height: 1;
}

input::placeholder {
  color: var(--form-dark);
  opacity: 1;
}
textarea::placeholder {
  color: var(--form-dark);
  opacity: 1;
}

.form-title {
  line-height: 1;
  max-width: 100%;
}

form {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}

.admin-list {
  min-height: 400px;
}

.admin-item-list {
  padding: 0.5em 1em;
  display: flex; 
  justify-content: space-between;
}

.mg-left {
  margin-left: 0.5em;
}

.mg-bottom {
  margin-bottom: 0.5em;
}

.input-admin,
.btn-admin {
  height: 2.25em;
  padding: 0.5em;
  background-color: transparent;
  color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 0.25em;
  font-size: 0.9em;
  font-weight: 400;
  outline: none;
}

.btn-admin {
  width: 6em;
  
}

.btn-accept {
  background-color: var(--dark);
  color: var(--form-bg);

}

.btn-cancel {
  background-color: var(--cancel);
}

.input-admin {
  width: 21em;
}

.form-alojamientos {
  /* max-width: fit-content; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* align-items: end; */
  gap: 0.6em;
}

.form-alojamientos div label {
  display: block;
  margin-bottom: 0.2em;
}

@media (max-width: 1400px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }
}