@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark: #333333;
  --light: #f4f4f4;
  --form-bg: #dedede;
  --form-dark: #5b5b5b;
  --primary: #034732;
  /* --secondary: ;
  --accent: ; */
}

body {
  background-color: var(--light);
}


h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}


h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
li,
label,
input,
button {
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

button {
  background-color: var(--primary);
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  border: none;
  border-radius: 16px;
  cursor: pointer; 
}

input {
  background-color: var(--form-bg);
  color: var(--form-dark);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  border-radius: 16px;
  border: 1px solid var(--form-dark);
  cursor: pointer; 
}

label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

input::placeholder {
  color: var(--form-dark);
  opacity: 1;
}